*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: absolute;
  background-color: rgb(20, 20, 20);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}


.circle{
  margin: 50px;
  background: #6038c60e;
  border: 3px solid #6f49cf8e;
  height: 70px;
  width: 70px;
  border-radius: 25px;
  
}
.menua{

}
.menub{

}
.menuc{
  
}
.menuc{
  
}
#particule-js{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000;
}
